# GitWeb DLAgent
[submodule "gitweb-dlagent"]
	path = gitweb-dlagent
	url = https://github.com/7Ji-PKGBUILDs/gitweb-dlagent.git
	branch = master
# GL4ES
[submodule "gl4es-git"]
	path = gl4es-git
	url = https://github.com/7Ji-PKGBUILDs/gl4es-git.git
	branch = master
# Box64
[submodule "box64-git"]
	path = box64-git
	url = https://aur.archlinux.org/box64-git.git
	branch = master
